html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: #333;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: .5em;
  margin: 0;
}

p {
  margin: 0;
  padding-bottom:1em;
}

i {
  font-size: .875rem;
}

.headache {
  display: flex;
  background-color: #f2f2f2;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0 1em;
}

.headache li {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 25%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: .5em;
  margin-bottom: 1em;
}
